body{
	margin: 100px auto;
	width: 750px;
}

section.slideshow{
	width: 750px;
	height: 493px;
	cursor: pointer;
	position: relative;
}

section.slideshow img{
	position: absolute;
	top: 0;
	left: 0;
	width: 750px;
	height: 493px;
	z-index: 0;
}

section.slideshow img:first-child{
	z-index: 1;
}